In [37]:
# 必要なライブラリーのインストール
import numpy as np
import pandas as pd
import sys
import pickle

# 可視化
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
sns.set_style('whitegrid')

# 正規化のためのクラス
from sklearn.preprocessing import StandardScaler

# k-means法に必要なものをインポート
from sklearn.cluster import KMeans
from sklearn import datasets, preprocessing

In [38]:
data = datasets.load_wine()

In [39]:
df = pd.DataFrame(data.data, columns=data.feature_names)

In [40]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [41]:
df.shape

(178, 13)

In [42]:
df.columns

Index(['alcohol', 'malic_acid', 'ash', 'alcalinity_of_ash', 'magnesium',
       'total_phenols', 'flavanoids', 'nonflavanoid_phenols',
       'proanthocyanins', 'color_intensity', 'hue',
       'od280/od315_of_diluted_wines', 'proline'],
      dtype='object')

In [43]:
df =df.loc[:,["alcohol","color_intensity", "proline"]]

In [44]:
df.shape

(178, 3)

In [45]:
#データを100件、重複を許可して抽出
df_A = df.sample(n=100, replace=True)

In [46]:
df_A.shape

(100, 3)

In [47]:
for i in df_A.columns:
    print(i)

alcohol
color_intensity
proline

In [48]:
#標準化
sc = StandardScaler()
for i in df_A.columns:
    df_A[i] = sc.fit_transform(df_A[[i]].values)
    #scをpickleとして保存
    pickle.dump(sc, open(r"pickle/pickle_A_{0}.pkl".format(i), "wb"))

In [49]:
cls = KMeans(n_clusters=3, random_state=42)
#クラスタリング実行
kmeans_model = cls.fit(df_A)

In [50]:
#クラスタを付与
df_A["cluster"] = kmeans_model.labels_
df_A.head()

      alcohol  color_intensity   proline  cluster
133 -0.360440         0.108268 -0.563612        1
100 -1.138549        -0.748204 -0.212153        2
48   1.396580         0.712837  0.906124        0
20   1.346379         0.435743  0.011502        1
24   0.643571        -0.637366  0.219182        0

In [52]:
#kmeansをpickleとして保存
pickle.dump(cls, open(r"pickle/cls_A.pkl", "wb"))

In [53]:
#クラスタごとの数をカウント
df_A_groupby = df_A.groupby("cluster").count()
df_A_groupby

         alcohol  color_intensity  proline
cluster
0             33               33       33
1             27               27       27
2             40               40       40