In [2]:
"""
clustering_1stで作成したkmeansモデルを使って、他のwineデータもクラスタリングする
"""

'\nclustering_1stで作成したkmeansモデルを使って、他のwineデータもクラスタリングする\n'

In [7]:
# 必要なライブラリーのインストール
import numpy as np
import pandas as pd
import sys
import pickle
from pickle import load
# 可視化
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display
%matplotlib inline
sns.set_style('whitegrid')

# 正規化のためのクラス
from sklearn.preprocessing import StandardScaler

# k-means法に必要なものをインポート
from sklearn.cluster import KMeans
from sklearn import datasets, preprocessing

In [4]:
data = datasets.load_wine()
df = pd.DataFrame(data.data, columns=data.feature_names)
df =df.loc[:,["alcohol","color_intensity", "proline"]]

In [5]:
#データを70件、重複を許可して抽出
df_B = df.sample(n=70, replace=True)

In [6]:
df_B.shape

(70, 3)

In [8]:
#clustering_1stで保存したpickleからロードして標準化
for i in df_B.columns:
    scaler = load(open(r"pickle/pickle_A_{0}.pkl".format(i), "rb"))
    df_B[i] = scaler.transform(df_B[[i]].values)
df_B

      alcohol  color_intensity   proline
2    0.216866         0.450857  1.305509
93  -0.874996        -1.327582 -1.554086
18   1.509531         1.972354  2.887073
160 -0.787145         1.443357 -0.819218
97  -0.874996        -0.949727 -1.113165
..        ...              ...       ...
110 -1.916658        -0.949727 -0.685025
143  0.794173        -0.194016 -0.723366
9    1.095376         1.226720  0.858198
30   0.932225         0.460933  1.625017
87  -1.678205        -1.100869 -0.685025

[70 rows x 3 columns]

In [9]:
#clustering_1stで保存したpickleからロードしてkmeans
kmeans = load(open(r"pickle/cls_A.pkl", "rb"))

In [10]:
kmeans_record = kmeans.predict(df_B)

In [11]:
len(kmeans_record)

70

In [13]:
df_B["cluster"] = kmeans_record
df_B.head()

      alcohol  color_intensity   proline  cluster
2    0.216866         0.450857  1.305509        0
93  -0.874996        -1.327582 -1.554086        2
18   1.509531         1.972354  2.887073        0
160 -0.787145         1.443357 -0.819218        1
97  -0.874996        -0.949727 -1.113165        2

In [14]:
#クラスタごとの数をカウント
df_B_groupby = df_B.groupby("cluster").count()
df_B_groupby

         alcohol  color_intensity  proline
cluster
0             25               25       25
1             18               18       18
2             27               27       27